body{
    background-color: black;
}
#m1{
    border: 5px solid white;
width:100%;
}
#m{
    color : white;
    width:50%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 10px 10px solid blue;
}